body{
    background-color: #fefefe;
}
.main_header{
    color:darkgreen;
    font-size: 4em;
}
.section_header{
    color:#1460AA; 
    text-decoration:underline rgb(195, 6, 110);
}
.article_header{
    color:firebrick;
    text-decoration:overline dashed ;
}
section{
    background-color:rgb(237 237 237 / 40%);
}
.week_description{
    background-color: rgb(238, 255, 205);
}
section{
    padding: 2em;
}
.orange{
    color:orange;
}
.inherit{
    color:inherit;
}
.picture{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
}